[Desktop Entry]
Name=Window Layout
Comment=Select Floating, Tiling, or Scrolling window layout
Type=Application
Exec=cosmic-applet-tiling
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Floating;Tiling;Scrolling;Hint;Workspace;
Icon=com.system76.CosmicAppletTiling-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-HostWaylandDisplay=true
X-CosmicHoverPopup=Auto
